
.cp-menu-container {

    .btn-menu {
        float: right;
        margin: 15px 15px;
        width: 35px;
        height: 35px;

        &:hover {
            cursor: pointer;
        }
    }

    .menu-box {
        width: 70%;
        height: 400px;
        position: absolute;
        padding: 30px 5%;
        // opacity: 0.8;
        z-index: 999;
        top: 100px;
        left: 10%;
        background-color: white;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
        border-radius: 5px;

        .menu-link {
            background-color: $cloud_gray;
            width: 40%;
            padding: 20px 0;
            display: inline-block;
            margin: 20px 5%;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;

            .label {
                padding: 10px 0;
                color: $purple;
            }

            &:hover {
                cursor: pointer;
                opacity: 0.5;
            }

            &.blog {
                //background-color: yellow;
            }

            &.reminder {
                // background-color: green;
            }

            &.python {
                // background-color: red;
            }

        }
    }
}