body {
    margin: 0 0;

    a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: inherit;
    }

    .app-container {
        .cp-container {
            background-color: white;
            height: calc(90vh - 30px);
            width: 100%;
            position: absolute;
            //opacity: 0.8;
            top: 10vh;
            left: 0;
        }
    }
}